<div>
    <form method="post">
        <label>Введите четыре вещественных числа:</label><br>
        <input type="text" id="Num1" name="Num1" value="@ViewBag.Num1" /><br>
        <input type="text" id="Num2" name="Num2" value="@ViewBag.Num2" /><br>
        <input type="text" id="Num3" name="Num3" value="@ViewBag.Num3" /><br>
        <input type="text" id="Num4" name="Num4" value="@ViewBag.Num4" /><br>
        <input type="submit" value="Вычислить" />
    </form>
    <label>@ViewBag.Result</label>
</div>
